
.loan .card p{
      min-height: 9.5rem;
}
#loan-icon {
      position: absolute;
      font-size: 45px;
      color: #00b5ac;
      width: 3.4rem;
      background: white;
      box-shadow: 1px 1px 1px 1px #f7f7f7;
      padding: 14px;
      top: 35%;
      left: 75%;
      border-radius: 5rem;
}