
.loan .card h6{
      min-height: 1.5rem;
}

.loan-card-img {
      position: relative;
}
#loan-icon {
      position: absolute;
      font-size: 45px;
      color: #00b5ac;
      /* width: 3.5rem; */
      width: 1.6em;
      padding: 0.3em 0.4em;
      top: 4.3em;
      left: 5.5em;
      background: white;
      box-shadow: 1px 1px 1px 1px #f7f7f7;
      /* padding: 12px; */
      /* top: 26%;
      left: 75%; */
      border-radius: 100%;
}

h4 {
      font-size: 1.2rem;

}

h6 {
      font-size: 0.78rem;

}


@media(min-width: 1400px) {
      #loan-icon {
            position: absolute;
            font-size: 45px;
            color: #00b5ac;
            /* width: 3.5rem; */
            width: 1.6em;
            padding: 0.3em 0.4em;
            top: 6.3em;
            left: 8.6em;
            background: white;
            box-shadow: 1px 1px 1px 1px #f7f7f7;
            /* padding: 12px; */
            /* top: 26%; */
            /* left: 75%; */
            border-radius: 100%;
      }
      .loan .card img {
            height: 27em;
            width: 41em;
      }
      
      .loan .card h6{
        min-height: 11.5rem;
      }
      
}

@media(max-width : 1367px){
     
      .trastaven-course-heading {
            font-size: 1.08rem;

      }
      .loan .card h6{
            min-height: 10rem;
          }



}