/* Base color: #00B5AC;
base shades : #00B5AC;
              #00C2B8;
              #009C94;

Tagline color: #3f3185;
      shades:  #634DD1;
               #453691;
               #33286B       
 */
 


 * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
 }
 body {
       font-size: 20px;
       font-family: 'Lato', sans-serif;
       font-weight: bold;
 }
h6{
  font-weight: 900;
  color: #313158;
  font-family: 'Lato', sans-serif;
}
.darken-body {
      filter: brightness(30%);
}
.banner .btn, .sign-up .btn, .events .btn {
      border: none;
      /* background: linear-gradient(to right, #00B5AC, 
                                           #634DD1);
      color: white;                                      */
}
.pre-nav {
      background: #00C2B8;
      height: 90%;
      padding: .5% 5%;
      color: white;
      /*font-size: 75%;*/
      padding-left: 9%;
      padding-right: 9%;
}
.pre-nav a {
      text-decoration: none;
}

.notify {
      background-color: rgba(7, 7, 158, 0.459);
      
           
}
.another {

}
.nav-and-banner {
      position: relative;
}
.navbar {
      font-family: 'Lato' !important;
      background-color: white;
      text-transform: uppercase;
      /*font-size: 75%;*/
      /* height: 4.4em; */
      /*margin-right: 2.4%;*/
}
.navbar-brand {
      width: 34%;
     
}
.navbar-brand img {    
      width: 30%;
}
.navbar-nav a {
      /* padding: 0px 50% ; */
}
.navbar-nav .nav-item {
      color: black;
      width: 7em;
      height: 2em;
      text-align: center;
      border-radius: 3px;
      padding: 1% 4.5%;
}
.nav-item:hover,
.nav-item:active {
      background: #00B5AC;
      color: white;
      
      transition: background .3s;
  }
  .navbar-nav .nav-item .active {
      
      background: #00C2B8
}


/* carousel styling */
.banner .carousel img {
      height: 85vh;
      width: 100%;
      animation-name: background-change;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-timing-function: ease-in;
      position: relative;
}
@keyframes  background-change {
      0%{
            opacity: 0;
            
        }
        20%{
            background: linear-gradient(to right, #00B5AC, #00756F) ;
            
        }
        100%{
            background: linear-gradient(to right, #00B5AC,#00756F) ;
            
        }
}
.banner {
      position: relative;
}
.banner .carousel-caption {
     position: absolute; 
     top: 25%;
     left: 0px;
     height: 30%;
     width: 100%;
     text-align: left;
     padding-left: 9.5%;
     /*background: linear-gradient(to right, rgba(0, 0, 0, 0.664), rgba(178, 182, 184, 0.336), rgba(3, 65, 107, 0.062));*/
     /*background: linear-gradient(to left, rgba(108, 110, 110, 0.664), rgba(178, 182, 184, 0.336), rgba(3, 65, 107, 0.062));*/
     animation-name: Move-to-right;
     animation-duration: 1.5s;
     animation-delay: 0.3s;
     animation-timing-function: ease-in;
 
}
@keyframes Move-to-right{
      0%{
          opacity: 0;
          transform: translateX(-20%);
      }
      80%{
          opacity: .6;
          transform: translateX(2%);
      }
      100%{
          opacity: 1;
          transform: translate(0)
      }
  }
.banner .carousel-indicators li {
      height: 12px;
      width: 1.5%;
      border-radius: 100%;
      background: transparent;
      border: 1px solid #634DD1;

}
.banner .carousel-indicators .active {
      border: .2% solid #634DD1;
      background-color: #634DD1;
      
}
.banner .carousel-item{
      transition-property: backgroun;
      transition-duration: 0.4s;
     
}
.banner .carousel-item {
    background: linear-gradient(to right, rgb(2, 71, 99), rgb(11, 91, 122), rgba(3, 65, 107, 0.062));
}
.banner .carousel .big-button {
      position: absolute;
      left: 9.5%;
      margin-top: -10%;
      width: 30%;
      font-weight: bold;

      animation-name: Move-to-right;
      animation-duration: .5s;
      animation-delay: 0.3s;
      animation-timing-function: ease-in;
}

.big-button .btn {
      
      /*padding: 7% 10%; */
      
}

/* SIDE BAR toggler */

.side-toggle-bar {
      width: 17em;
      top: 5.5%;
      bottom: 0;
      position: fixed;
      background: white;
      overflow-y: scroll;
      transform: translateX(-100%);
      transition: 0.3s ease-in-out;
      

}
.open {
      transform: translateX(0)
}

@keyframes Move-to-right{
      0%{
          opacity: .9;
          transform: translateX(-100%);
      }
     
      100%{
          opacity: 1;
          transform: translate(0)
      }
  }
.toggle-portion {
      box-shadow: 1px 2px 15px 2px #afaeae49;

}
.side-toggle-bar .side-toggle-banner {
      background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.473)), url("images/academy-celebrate-celebration-267885.jpg");
      height: 30%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      color: white;
      padding-top: 25%;
      padding-left: 6%;
}
.side-toggle-bar .side-toggle-banner a i{
      font-size: 270%;  
      border-radius: 50%;
      background: #f7f7f7;
}
/* Services */

.services{
     background: #f7f7f7;
     padding: 5%;
     font-size: 70%;
     font-weight: 500;
     position: relative;

}
.services .card {
      box-shadow: 1px 2px 3px 3px #9b9b9b27;
}

.services .card img {
      height: 40%;
      width: 100%;
      margin-top: 2%;
    
}
.services img:hover {
      filter: grayscale(10);
}

/* trending courses */
.trending-courses {
      font-size: 80%;
}
/* .trending-courses .carousel-inner {
      padding: 4%;
} */
.trending-courses .slider-button {
      padding-left: 66%;
     
}
.trending-courses .card {
          /* margin-right: 30%;    */
          min-height: 20.55em;
          min-width: 25em;
}


.trending-courses .card strong {
      color: #3f3185;
}

/* equal card height */
.row-equal > div[class*='col-'] {
      display: flex;
      flex: 1 0 auto;
  }
  
  .row-equal .card {
     width: 100%;
  }
  
  /* ensure equal card height inside carousel */
  .carousel-inner>.row-equal.active, 
  .carousel-inner>.row-equal.next, 
  .carousel-inner>.row-equal.prev {
      display: flex;
  }
  
  /* prevent flicker during transition */
  .carousel-inner>.row-equal.active.left, 
  .carousel-inner>.row-equal.active.right {
      opacity: 0.5;
      display: flex;
  }
  
  
  /* control image height */
  .trending-courses .card-img-top-250 {
      max-height: 250px;
      overflow:hidden;
  }
/* sign Up */
.know-button {
      width: 50%;
      border-radius: 30px;
}
.sign-up {
      height: 100%;
      width: 100%;
      background:linear-gradient( rgba(0, 181, 172, 0.733), 
                                  #3f3185),
                                   url("images/sign-up.jpg");
      position: relative; 
                              
}
.content {
     
}
hr {
      width: 30%;
      border: 2px solid #634DD1;
}
.why-us{
      /*font-size: 70%;*/
      font-weight: 400;
      /*line-height: 170%;*/
      
} 
.why ul li {
      /*font-size: 70%;*/
      margin-left: 4%;
}

.sign-up .card {
      width: 94%;
      height:90%;
      margin-top: 5%;
      border: none;  
      /* position: absolute; */
      background: linear-gradient(to right, #02b0d3, #01697e) ;

}
.sign-up .card-title {
      font-size: 175%;
      font-weight: 400;
     
}
     

.sign-up .card-body form input, .sign-up .card-body .send-button {
      width: 90%;
      height: 8%;
      margin: 0% 5% 4% 5%;
      padding-left: 7%;
      border: none;
      font-size: 90%;
      border-radius: 10px;

}
.card-body .send-button {
      height: 12%;
      font-size: 100%;
      
}
.send-button:hover {
       
}
.events {

      background: #8494971c;
      font-size: 75%;
      line-height: 175%;
      padding: 4% 6% 5% 5%;
}
.eve-heading {
      font-size: 200%;
      color:  #555f618a;
}
.events h4{
     /*font-size: 75%;*/
     padding-top: 5%;
}
.events .card {
      height: 80%;
      width: 94%;
      margin-top: 60px;
      background: rgba(51, 48, 48, 0.781);
      color: white;
      font-weight: 400;
}

.eve img{
   height: 50%;
   width: 100%;
   margin-bottom: .4%;
}
.eve .big-button {
      margin: .2% auto;
      width: 40%;
     
}

.students {
      height: 110%;
      padding: 5% 4% 2% 9%;
      /* margin-bottom: 300px; */
}
.students .second {
      margin-top: 2%;
      margin-bottom: 2%;
}
.students .card {
      width: 70%;
      
}
.students img{
      height: 50%;
      width: 90%;
      margin-left: 4%;
      border-radius: 100px;
      border: 4px solid #3f3185;
}
.students .bio h1 {
      /*font-size: 100%;*/
      color: #00B5AC;
}
.prefooter {
      padding: 4% 5%;
      background:#00B5AC;
}
.prefooter .describe  {
      margin-top: 15%;
      /*font-size: 75%;*/
      /*line-height: 200%;*/
}
.prefooter a h1 {
      /*font-size: 120%;*/
      /* font-weight: 500; */
      color: white;
      padding-top: 5%;
      
} 
.prefooter a {
      color: white;
      /*font-size: 80%;*/
      
}
.prefooter .links a {
       display: block; 
       /*font-size: 70%;*/
       line-height: 2em;
       font-weight: 600;
       padding: 1%;
       color: rgba(255, 255, 255, 0.938);
}
.prefooter .highlight {
      color: #00B5AC;
}
.footer {
      background: #3f3185;
      color: white;
      /*font-size: 70%;*/
      padding: 1%;
}
.footer a{
       color: white;
       font-weight: 500;
       padding: 1%;
}
.contact h3{
      font-size: 20px;
      color: #00B5AC;
}
.contact h2 {
      /*font-size: 100%;*/
}




/*Arijit Added*/
.trastaven-modal-header{
  background: #00b5ac;
}
.trastaven-modal-title{
  color: white;
  font-weight: 900;
}
.navactive{
  background: #00B5AC !important;
  color: #fff !important;
}
.btn-trastaven
{
    color: #fff;
    border-color: #00b5ac;
    background-color: #00b5ac;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-trastaven:hover
{
    color: #fff ;
    border-color: #313185; 
    background-color: #313185;
}
.btn-trastaven:focus,
.btn-trastaven.focus
{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(94, 114, 228, .5);
}
.btn-trastaven.disabled,
.btn-trastaven:disabled
{
    color: #fff;
    border-color: #5e72e4; 
    background-color: #5e72e4;
}
.btn-trastaven:not(:disabled):not(.disabled):active,
.btn-trastaven:not(:disabled):not(.disabled).active,
.show > .btn-trastaven.dropdown-toggle
{
    color: #fff;
    border-color: #5e72e4; 
    background-color: #324cdd;
}
.btn-trastaven:not(:disabled):not(.disabled):active:focus,
.btn-trastaven:not(:disabled):not(.disabled).active:focus,
.show > .btn-trastaven.dropdown-toggle:focus
{
    box-shadow: none, 0 0 0 0 rgba(94, 114, 228, .5);
}

.trastaven-course-heading{
  color: #00B5AC;
  font-weight: 900;
}

.trastaven-course-body{
  color: #212121;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2em;
}

.trastaven-name-banner{
  color: #00B5AC;  
}
.trastaven-carousel-heading{
  color: #00B5AC;
  font-size: 75px;
  font-weight: 900;
}

.trastaven-carousel-body{
  margin-bottom: 5%;
}
.trastaven-navbar{
  padding-left: 8% !important;
  padding-right:  8% !important;
}
/*Arijigt Added end*/


/* Arpita added */

#placement .card img {
      width: 70%;
}

/* Arpita added end */

@media (max-width : 900px){
      body {
            font-size: 15px;
      }
      .navbar-brand {
            text-align: center;
      }
      .carousel img {
            height: 70vh;
      }
      .carousel-caption {
            top: 40%;
      }
      .carousel .big-button {
            top: 80%;
      } 
      .sign-up {
            top: 10%;
      }
      .sign-up {
            height:0%;
            font-weight: 300;
      }
      .sign-up .card {
            top: 2%;
            height: 93%;
            width: 100%;
      }
      .events .card {
            margin-left: 4%;
      }
      .events p, .sign-up p{
            font-size: 14px; 
            line-height: 20px;
            font-weight: 300;
      }
      .button {
            /* left: 10px; */

      }

      h1 {
          font-size: 23px;
      }
      p {
            font-size: 15px;
            line-height: 20px;
      }
      .btn {
            font-size: 10px;
      }
      .navbar-brand {
            width: 50%;
      }
      .navbar-brand img {
            
            width: 80%;
      }
      .students .card {
            margin-left: 15%;
            margin-bottom: 5%;
      }
      .services img {
            height: 66%;
           
          
      }
      .footer img {
            margin-left: 4%;
      }
      .trending-courses .card {
            margin-bottom: 5%;
            margin-top: 5%;
      }
       .services .col-md-3 {
           /* margin: 5%; */
           
      }
      .trending-courses .slider-button {
            padding-right: 5%;
      }
      .banner .carousel-caption {
            position: absolute;
            top: 45%;
      }



      /*------------- Arpita Added------------ */

      .trastaven-carousel-body {
            /* width: 136px;
            font-size: 14px;
            font-weight: bold;
            line-height: 20px; */
            display: none;
        }

        .trastaven-carousel-heading {
            /* top: 50%; */
            font-size: 23px;  
        }

        .btn-trastaven h4 {
            font-size: 14px;
        }
        .trastaven-card {
              margin-bottom: 5%;;
        }

        #think-card {
              margin-bottom: 10px;
        }
        .pre-nav {
              display: none;
        }
        .trastaven-footer-col {
              margin-left: 2em;
        }
      /* -------------Arpita added end-------------- */
}    
      
@media (min-width : 900px){
      .next {
            margin: 0px 15%;
           
      }
      .sign-up {
            padding: 3% 5% 3% 6%;    
      }

      /* Arpita Added */
      .navbar-brand {
      
            margin-left: 2%;
      }
      /* Arpita added end */
}


/* Arpita added */
/* placement and traing */

#think-card {
      width: 100%;
      box-shadow: 1px 1px 2px 1px #55545428;
}

.think-hr-sky {
      width: 10%;
      border: 2px solid #4dd1cf;
}
.filter {
      color: #00B5AC;
}

/* .affliate select option {
  font-size: 5px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
} */

.trastaven-filter-page .trastaven-row {

      margin: 0% 0.01%;
}

#filter-left .side-bar {
      border: 1px solid #dedede;
      border-radius: 5px;
}
#filter-left .side-bar .filter-card {
      width: 100%;
      /* border-radius: 5px; */
      border: 1px solid #dedede;

}
#filter-left .side-bar .filter-card .card-body {
      border-top: 1px solid #dedede;

}

#filter-left .btn-link {
      text-decoration: none;
}

.side-bar i {
      color: #00B5AC;
}
.side-bar .ranking i {
      font-size: .4rem;
}

 #down-arrow{
      /* transform: scale(1.6); */
      /* color: #00B5AC; */
      margin-left: 8px;
      vertical-align: top;
      transition: transform 0.2s;
}
a[aria-expanded="true"] #down-arrow { 
      transform:  rotate(-180deg);
      /* transition: rotate 2s; */
}

/* budget slider filter page */

#slider {
      margin: 10px 29px;
      background: rgba(0, 181, 172, 0.432);
}
#slider .ui-slider-range, #slider .ui-slider-handle {
      background:  #00B5AC;
}

#slider .ui-slider-handle {
      border : none;
      border-radius: 5rem;
      background:  #00B5AC;
}

  /* budget */


  /* filter */

  .filter-badge {
        height: 1.2rem;
        background:  #00B5AC;
        background-attachment: fixed;
      }
  .filter-head {
      background: #f7f7f7;
      border: 1px solid #2c2c2c30;
      border-radius: .1rem;
  }    

@media(max-width:567px) {

      .side-bar {
            display: none;
            transition: display 4s;
      }
}


@media(min-width: 1400px) {
      .services .trastaven-card .services-h6 {
            min-height: 7rem;
      }
}

@media(max-width: 1367px) {
      .services .trastaven-card .services-h6 {
            min-height: 7.3rem;
      }
      .btn-trastaven {
            font-size: 0.7rem;
      }

      .trastaven-carousel-body {
            margin-bottom: 5%;
            max-width: 22rem;
        }
        .banner .carousel .big-button {
            
            margin-top: -9%;
        }
        .btn-trastaven h4 {
              font-size: 1rem; 
        }
        .trastaven-carousel-heading {
           font-size: 3rem;   
        }
}

/* Arpita added end */